@import 'assets/primevue/tailwind.css';
@import 'primeicons/primeicons.css'; /* https://tailwind.primevue.org/vite/ */ 
@import '~lucide-static/font/lucide.css';


/* Primary and Surface Palettes */
:root {
  /* Argentinian Blue (blue) */
  --k-player-1-50: #eef7ff;
  --k-player-1-100: #daedff;
  --k-player-1-200: #bde0ff;
  --k-player-1-300: #90cdff;
  --k-player-1-400: #48a8ff;
  --k-player-1-500: #3590fc;
  --k-player-1-600: #1f71f1;
  --k-player-1-700: #175ade;
  --k-player-1-800: #194ab4;
  --k-player-1-900: #1a418e;
  --k-player-1-950: #152956;

  /* Emerald (green) */
  --k-player-2-50: #f0fdf6;
  --k-player-2-100: #dcfceb;
  --k-player-2-200: #bcf6d7;
  --k-player-2-300: #87eeb9;
  --k-player-2-400: #4cdc93;
  --k-player-2-500: #2dd881;
  --k-player-2-600: #18a15b;
  --k-player-2-700: #167f4a;
  --k-player-2-800: #17643d;
  --k-player-2-900: #155235;
  --k-player-2-950: #062d1b;

  /* Bittersweet (red) */
  --k-player-3-50: #fdf4f3;
  --k-player-3-100: #fce6e4;
  --k-player-3-200: #fad1ce;
  --k-player-3-300: #f5b1ac;
  --k-player-3-400: #ed847c;
  --k-player-3-500: #e3655b;
  --k-player-3-600: #ce3f34;
  --k-player-3-700: #ad3228;
  --k-player-3-800: #8f2d25;
  --k-player-3-900: #772b25;
  --k-player-3-950: #40130f;

  /* Maize (yellow) */
  --k-player-4-50: #fefde8;
  --k-player-4-100: #fffcc2;
  --k-player-4-200: #fff489;
  --k-player-4-300: #ffe74c;
  --k-player-4-400: #fdd412;
  --k-player-4-500: #ecba06;
  --k-player-4-600: #cc9002;
  --k-player-4-700: #a36605;
  --k-player-4-800: #86500d;
  --k-player-4-900: #724111;
  --k-player-4-950: #432205;

  --p-primary-50: var(--k-player-1-50);
  --p-primary-100: var(--k-player-1-100);
  --p-primary-200: var(--k-player-1-200);
  --p-primary-300: var(--k-player-1-300);
  --p-primary-400: var(--k-player-1-400);
  --p-primary-500: var(--k-player-1-500);
  --p-primary-600: var(--k-player-1-600);
  --p-primary-700: var(--k-player-1-700);
  --p-primary-800: var(--k-player-1-800);
  --p-primary-900: var(--k-player-1-900);
  --p-primary-950: var(--k-player-1-950);
  --p-surface-0: #ffffff;
  --p-surface-50: #fafafa;
  --p-surface-100: #f4f4f5;
  --p-surface-200: #e4e4e7;
  --p-surface-300: #d4d4d8;
  --p-surface-400: #a1a1aa;
  --p-surface-500: #71717a;
  --p-surface-600: #52525b;
  --p-surface-700: #3f3f46;
  --p-surface-800: #27272a;
  --p-surface-900: #18181b;
  --p-surface-950: #09090b;
  --p-content-border-radius: 999999px;
}

/* Light */
:root {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}

/* 
 * Dark Mode
 * Defaults to system, change the selector to match the darkMode in tailwind.config.
 * For example; 
 * darkMode: ['selector', '[class*="app-dark"]'] 
 * should be;
 * :root[class="app-dark"] {
*/
@media (prefers-color-scheme: dark) {
  :root {
    --p-primary-color: var(--p-primary-400);
    --p-primary-contrast-color: var(--p-surface-900);
    --p-primary-hover-color: var(--p-primary-300);
    --p-primary-active-color: var(--p-primary-200);
    --p-content-border-color: var(--p-surface-700);
    --p-content-hover-background: var(--p-surface-800);
    --p-content-hover-color: var(--p-surface-0);
    --p-highlight-background: color-mix(
      in srgb,
      var(--p-primary-400),
      transparent 84%
    );
    --p-highlight-color: rgba(255, 255, 255, 0.87);
    --p-highlight-focus-background: color-mix(
      in srgb,
      var(--p-primary-400),
      transparent 76%
    );
    --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
    --p-text-color: var(--p-surface-0);
    --p-text-hover-color: var(--p-surface-0);
    --p-text-muted-color: var(--p-surface-400);
    --p-text-hover-muted-color: var(--p-surface-300);
  }
}
