@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import '@kossabos/vue/style.css';
@import 'tailwindcss/utilities';

:root {
  --vp-c-brand-1: #E3655B;
  --vp-c-brand-2: #1E293B;
  --vp-c-brand-3: #48A8FF;
  --vp-font-family-base: font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --vp-font-family-mono: font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Light */
:root {
  --vp-c-bg: #ffffff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f6f6f7;
}

/* Dark */
.dark {
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;
}
