name: Deploy Documentation to GitHub Pages

on: workflow_dispatch

env:
  HUSKY: 0

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm
      - run: npm ci
      - run: npx nx run build
      - run: npx run examples:build
      - run: npx run ui:showcase
      - run: npx run docs:build
        env:
          NODE_OPTIONS: "--max-old-space-size=8192"
      - uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.PERSONAL_TOKEN }}
          publish_dir: ./packages/docs/build
          external_repository: JacobSampson/kossabos.github.io
